@import "tailwindcss";

@font-face {
    font-family: 'Frick';
    src: url('./fonts/Frick03-Regular.otf') format('opentype');
}

@theme {
    --font-family-frick: 'Frick', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
}

@theme {
    --animation-accordion-down: accordion-down 0.2s ease-out;
    --animation-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
    from {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes accordion-up {
    from {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}

::selection {
    background-color: #14b8a6;
    /* teal-500 hex */
    color: white;
}

::-moz-selection {
    background-color: #14b8a6;
    color: white;
}